/* Chartist Colors */
/* Tailwind Colors */
.income-inequality {
  /* Color Updates */
}
.income-inequality .ct-label,
.income-inequality .ct-axis-title {
  font-family: "Roboto";
  color: black;
  fill: black;
  font-size: 0.9em;
}
.income-inequality .ct-chart .ct-label.ct-horizontal.ct-end {
  display: flex;
  justify-content: flex-start;
  padding-top: 8px;
}
.income-inequality .ct-grid {
  stroke: rgba(0, 0, 0, 0.5);
}
.income-inequality .ct-series {
  visibility: hidden;
}
.income-inequality .ct-series.visible {
  visibility: visible;
}
.income-inequality .ct-series .ct-line {
  stroke-width: 2.5px;
}
.income-inequality .ct-series .ct-point {
  stroke-width: 5px;
}
.income-inequality .ct-series.visible .ct-line,
.income-inequality .ct-series.visible .ct-point {
  visibility: visible;
}
.income-inequality .ct-series.animate .ct-line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.income-inequality .ct-area,
.income-inequality .ct-line {
  pointer-events: none;
}
.income-inequality .legend-wrap {
  margin: 2.5rem auto;
}
.income-inequality .legend-wrap .key {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
.income-inequality .legend-wrap .key .checkbox {
  margin-right: 0.5rem;
}
.income-inequality .legend-wrap .key .checkbox rect {
  stroke-width: 5;
  fill: white;
}
.income-inequality .legend-wrap .key-0 .checkbox rect {
  stroke: #f97316;
}
.income-inequality .legend-wrap .key-0.active .checkbox rect {
  fill: #f97316;
}
.income-inequality .legend-wrap .key-1 .checkbox rect {
  stroke: #ec4899;
}
.income-inequality .legend-wrap .key-1.active .checkbox rect {
  fill: #ec4899;
}
.income-inequality .legend-wrap .key-2 .checkbox rect {
  stroke: #eab308;
}
.income-inequality .legend-wrap .key-2.active .checkbox rect {
  fill: #eab308;
}
.income-inequality .legend-wrap .key-3 .checkbox rect {
  stroke: #ef4444;
}
.income-inequality .legend-wrap .key-3.active .checkbox rect {
  fill: #ef4444;
}
.income-inequality .legend-wrap .key-4 .checkbox rect {
  stroke: #f59e0b;
}
.income-inequality .legend-wrap .key-4.active .checkbox rect {
  fill: #f59e0b;
}
.income-inequality .ct-series-a .ct-point,
.income-inequality .ct-series-a .ct-line,
.income-inequality .ct-series-a .ct-bar,
.income-inequality .ct-series-a .ct-slice-donut,
.income-inequality .ct-series-a .ct-arrow {
  stroke: #f97316;
}
.income-inequality .ct-series-b .ct-point,
.income-inequality .ct-series-b .ct-line,
.income-inequality .ct-series-b .ct-bar,
.income-inequality .ct-series-b .ct-slice-donut,
.income-inequality .ct-series-b .ct-arrow {
  stroke: #ec4899;
}
.income-inequality .ct-series-c .ct-point,
.income-inequality .ct-series-c .ct-line,
.income-inequality .ct-series-c .ct-bar,
.income-inequality .ct-series-c .ct-slice-donut,
.income-inequality .ct-series-c .ct-arrow {
  stroke: #eab308;
}
.income-inequality .ct-series-d .ct-point,
.income-inequality .ct-series-d .ct-line,
.income-inequality .ct-series-d .ct-bar,
.income-inequality .ct-series-d .ct-slice-donut,
.income-inequality .ct-series-d .ct-arrow {
  stroke: #ef4444;
}
.income-inequality .ct-series-e .ct-point,
.income-inequality .ct-series-e .ct-line,
.income-inequality .ct-series-e .ct-bar,
.income-inequality .ct-series-e .ct-slice-donut,
.income-inequality .ct-series-e .ct-arrow {
  stroke: #f59e0b;
}
@media screen and (max-width: 640px) {
  .income-inequality .ct-axis-title {
    display: none !important;
  }
  .income-inequality body {
    font-size: 95%;
  }
  .income-inequality .legend-wrap {
    padding: 0 1.25rem;
  }
  .income-inequality .legend-wrap .row {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 1.25rem;
  }
  .income-inequality .legend-wrap .row .key {
    display: grid;
    grid-template-columns: 25% 75%;
  }
}
