@import '../../styles/settings';

.income-inequality {
  .ct-label,
  .ct-axis-title {
    font-family: 'Roboto';
    color: $gray;
    fill: $gray;
    font-size: 0.9em;
  }

  .ct-chart .ct-label.ct-horizontal {
    display: inline-block;
    width: auto !important;
    transform: translateX(-50%);
  }

  .ct-grid .ct-vertical {
    //stroke: rgba($gray, 0.33);
  }

  .ct-series {
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }
  .ct-series .ct-line {
    stroke-width: 3px;
  }

  .ct-series .ct-point {
    stroke-width: 6.5px;
  }

  .ct-series.visible .ct-line,
  .ct-series.visible .ct-point {
    visibility: visible;
  }

  .ct-series.animate .ct-line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  .ct-area,
  .ct-line {
    pointer-events: none;
  }

  .legend-wrap {
    margin: 2.5rem auto;

    .key {
      display: flex;
      justify-content: space-evenly;
      cursor: pointer;
      .checkbox {
        margin-right: 0.5rem;
        rect {
          stroke-width: 5;
          fill: white;
        }
      }
    }

    .key-0 {
      .checkbox rect {
        stroke: $ch-dark-orange;
      }
      &.active {
        .checkbox rect {
          fill: $ch-dark-orange;
        }
      }
    }
    .key-1 {
      .checkbox rect {
        stroke: $ch-orange;
      }
      &.active {
        .checkbox rect {
          fill: $ch-orange;
        }
      }
    }
    .key-2 {
      .checkbox rect {
        stroke: $ch-gold;
      }
      &.active {
        .checkbox rect {
          fill: $ch-gold;
        }
      }
    }
    .key-3 {
      .checkbox rect {
        stroke: $ch-ochre;
      }
      &.active {
        .checkbox rect {
          fill: $ch-ochre;
        }
      }
    }
    .key-4 {
      .checkbox rect {
        stroke: lighten($ch-dark-gray, 10%);
      }
      &.active {
        .checkbox rect {
          fill: lighten($ch-dark-gray, 10%);
        }
      }
    }
  }

  @media screen and (max-width: 640px) {
    .ct-axis-title {
      display: none !important;
    }
    body {
      font-size: 95%;
    }
    .legend-wrap {
      padding: 0 1.25rem;

      .row {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 1.25rem;

        .key {
          display: grid;
          grid-template-columns: 25% 75%;
        }
      }
    }
  }
}
