@import '../../styles/settings';

.income-inequality {
  .ct-label,
  .ct-axis-title {
    font-family: 'Roboto';
    color: black;
    fill: black;
    font-size: 0.9em;
  }

  .ct-chart .ct-label.ct-horizontal.ct-end {
    display: flex;
    justify-content: flex-start;
    padding-top: 8px;
  }

  .ct-grid {
    stroke: rgba(0, 0, 0, 0.5);
  }

  .ct-series {
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }
  .ct-series .ct-line {
    stroke-width: 2.5px;
  }

  .ct-series .ct-point {
    stroke-width: 5px;
  }

  .ct-series.visible .ct-line,
  .ct-series.visible .ct-point {
    visibility: visible;
  }

  .ct-series.animate .ct-line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  .ct-area,
  .ct-line {
    pointer-events: none;
  }

  .legend-wrap {
    margin: 2.5rem auto;

    .key {
      display: flex;
      justify-content: space-evenly;
      cursor: pointer;
      .checkbox {
        margin-right: 0.5rem;
        rect {
          stroke-width: 5;
          fill: white;
        }
      }
    }

    .key-0 {
      .checkbox rect {
        stroke: $orange;
      }
      &.active {
        .checkbox rect {
          fill: $orange;
        }
      }
    }
    .key-1 {
      .checkbox rect {
        stroke: $pink;
      }
      &.active {
        .checkbox rect {
          fill: $pink;
        }
      }
    }
    .key-2 {
      .checkbox rect {
        stroke: $gold;
      }
      &.active {
        .checkbox rect {
          fill: $gold;
        }
      }
    }
    .key-3 {
      .checkbox rect {
        stroke: $red;
      }
      &.active {
        .checkbox rect {
          fill: $red;
        }
      }
    }
    .key-4 {
      .checkbox rect {
        stroke: $amber;
      }
      &.active {
        .checkbox rect {
          fill: $amber;
        }
      }
    }
  }

  /* Color Updates */

  .ct-series-a .ct-point,
  .ct-series-a .ct-line,
  .ct-series-a .ct-bar,
  .ct-series-a .ct-slice-donut,
  .ct-series-a .ct-arrow {
    stroke: $orange;
    // fill: $sky;
  }
  .ct-series-b .ct-point,
  .ct-series-b .ct-line,
  .ct-series-b .ct-bar,
  .ct-series-b .ct-slice-donut,
  .ct-series-b .ct-arrow {
    stroke: $pink;
    //fill: $teal;
  }
  .ct-series-c .ct-point,
  .ct-series-c .ct-line,
  .ct-series-c .ct-bar,
  .ct-series-c .ct-slice-donut,
  .ct-series-c .ct-arrow {
    stroke: $gold;
    //fill: $indigo;
  }
  .ct-series-d .ct-point,
  .ct-series-d .ct-line,
  .ct-series-d .ct-bar,
  .ct-series-d .ct-slice-donut,
  .ct-series-d .ct-arrow {
    stroke: $red;
    //fill: $lime;
  }
  .ct-series-e .ct-point,
  .ct-series-e .ct-line,
  .ct-series-e .ct-bar,
  .ct-series-e .ct-slice-donut,
  .ct-series-e .ct-arrow {
    stroke: $amber;
    // fill: $purple;
  }

  @media screen and (max-width: 640px) {
    .ct-axis-title {
      display: none !important;
    }
    body {
      font-size: 95%;
    }
    .legend-wrap {
      padding: 0 1.25rem;

      .row {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 1.25rem;

        .key {
          display: grid;
          grid-template-columns: 25% 75%;
        }
      }
    }
  }
}
