@import '../../styles/settings';

.federalism {
  .ct-chart {
    position: relative;
    margin-top: 2.5rem;
    margin: 2.5rem auto;
  }
  .legend-wrap {
    position: relative;
    padding: 0 0.5em;
  }

  .legend {
    display: flex;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 2em;
  }

  .key-wrap {
    display: flex;
    margin: 1rem auto;

    button {
      border: none;
      background-color: transparent;
      height: 3rem;
      display: flex;
      // justify-content: center;
      align-items: center;
      // width: 100%;
      appearance: none;
      outline: none;
      padding: 0;

      i {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        background-size: 90%;
        background-position: center center;
        background-repeat: no-repeat;
        &.all {
          background-image: url('./icons/5-combined.svg');
          &.on {
            background-image: url('./icons/5-combined-on.svg');
          }
        }
        &.transportation {
          background-image: url('./icons/3-transportation.svg');
          &.on {
            background-image: url('./icons/3-transportation-on.svg');
          }
        }
        &.community-dev {
          background-image: url('./icons/4-community-dev.svg');
          &.on {
            background-image: url('./icons/4-community-dev-on.svg');
          }
        }
        &.health {
          background-image: url('./icons/6-health.svg');
          &.on {
            background-image: url('./icons/6-health-on.svg');
          }
        }
        &.income-security {
          background-image: url('./icons/7-income-security.svg');
          &.on {
            background-image: url('./icons/7-income-security-on.svg');
          }
        }
      }
    }
  }

  .source {
    margin: 2rem auto;
    display: block;
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: initial;
      }
    }
  }

  .visible {
    visibility: visible !important;
  }
  .ct-grid {
    stroke: rgba(0, 0, 0, 0.5);
  }
  .ct-label,
  .ct-axis-title {
    color: black;
    fill: black;
  }
  .ct-axis-title {
    font-size: 0.75rem;
  }
  .ct-series {
    visibility: hidden;
  }

  .ct-label-top {
    font-size: 0.75rem;
  }

  .ct-arrow,
  .ct-label-top {
    opacity: 0;
    transition: 1s fill-opacity;
  }
  .ct-series.visible .ct-arrow,
  .ct-series.visible .ct-label-top {
    opacity: 1;
  }
  .ct-series.animate .ct-arrow,
  .ct-series.animate .ct-label-top {
    opacity: 1;
    transition: opacity 1s linear 1.5s;
  }

  .ct-label-top.visible {
    opacity: 1;
    transition: opacity 1s linear 1.8s;
  }

  .ct-series.animate .ct-bar {
    transform: scaleY(0);
    transform-origin: 100% 84%;
    animation: draw 1.2s linear forwards;
  }

  /* Customize the Community bars, since they are the shortest and rise too slowly */
  .ct-series-b.animate .ct-bar {
    animation: draw 0.5s linear forwards;
  }

  @keyframes draw {
    to {
      transform: scaleY(1);
    }
  }
}
/* Tooltips */
.ct-tooltip {
  position: absolute;
  background: #fff;
  border: 1px solid #6f6b5a;
  border-radius: 0.5em;
  color: #6f6b5a;
  font-size: 0.75em;
  padding: 0.25rem 0.5rem;
  text-align: center;
  visibility: hidden;

  &.tooltip-show {
    visibility: visible;
  }
}

.ct-tooltip:before,
.ct-tooltip:after {
  content: '\0020';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top-color: #fff;
  z-index: 2;
}

.ct-tooltip:after {
  content: '';
  top: 102%;
  z-index: 1;
  border-top-color: #6f6b5a;
}

.ct-tooltip.tooltip-show {
  opacity: 1;
}

.ct-area,
.ct-line {
  pointer-events: none;
}
/* Color updates */
.ct-series-a .ct-point,
.ct-series-a .ct-line,
.ct-series-a .ct-bar,
.ct-series-a .ct-slice-donut {
  stroke: $cyan;
}
.ct-series-b .ct-point,
.ct-series-b .ct-line,
.ct-series-b .ct-bar,
.ct-series-b .ct-slice-donut {
  stroke: $violet;
}
.ct-series-c .ct-point,
.ct-series-c .ct-line,
.ct-series-c .ct-bar,
.ct-series-c .ct-slice-donut {
  stroke: $pink;
}
.ct-series-d .ct-point,
.ct-series-d .ct-line,
.ct-series-d .ct-bar,
.ct-series-d .ct-slice-donut {
  stroke: $green;
}
