$gray: #777;
$purple: #3f1168;
$blue: rgba(dodgerblue, 0.8);
$gold: goldenrod;
$turquoise: #00819f;
$green: #060;

/* Chartist Colors */

$ch-dark-orange: #d70206;
$ch-orange: #f05b4f;
$ch-gold: #f4c63d;
$ch-ochre: #d17905;
$ch-dark-gray: #453d3f;

/* Tailwind Colors */

$slate: #64748b;
$stone: #78716c;
$gold: #eab308;
$teal: #14b8a6;
$indigo: #6366f1;
$pink: #ec4899;
$red: #ef4444;
$lime: #84cc16;
$cyan: #06b6d4;
$violet: #8b5cf6;
$rose: #f43f5e;
$zinc: #71717a;
$orange: #f97316;
$green: #22c55e;
$sky: #0ea5e9;
$purple: #a855f7;
$neutral: #737373;
$amber: #f59e0b;
$emerald: #10b981;
$blue: #3b82f6;
$fuchsia: #d946ef;
