$gray: #777;
$purple: #3f1168;
$blue: rgba(dodgerblue, 0.8);
$gold: goldenrod;
$turquoise: #00819f;
$green: #060;

/* Chartist Colors */

$ch-dark-orange: #d70206;
$ch-orange: #f05b4f;
$ch-gold: #f4c63d;
$ch-ochre: #d17905;
$ch-dark-gray: #453d3f;
