@import url(../../node_modules/bootstrap/dist/css/bootstrap.css);
@import url(../../node_modules/chartist/dist/chartist.css);
/* Chartist Colors */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #777; }

h1 {
  color: #777;
  font-size: 1.75em;
  margin-bottom: 0; }

h2,
h3 {
  font-weight: 400; }

.subhead {
  font-size: 1em;
  font-weight: 400;
  margin: 0; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

.App {
  text-align: center; }

.App-header {
  background-color: ffffff;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

section {
  margin: 2.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px dotted #aaa; }
